.manage-comunity h2 {
    max-width: 542px;
    font-size: 32px;
    text-align: center;
    margin: 0px auto;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.manage-title {
    max-width: auto;
    font-size: 16px;
    text-align: center;
    margin: 0px auto;
    color: #717171;
}